<div>
  <h1>Usuarios</h1>
  <ul>
    <li><strong>Name:</strong> {{firstName}} {{lastName}}</li>
    <li><strong>Age:</strong> {{age}}</li>
    <li><strong>Email:</strong> {{email}}</li>
    <li><strong>Phone number:</strong> {{phone}}</li>
  </ul>
</div>